@media screen and (min-width: 801px) and (max-width: 2000px) {
  #id {
    width: 100px;
    display: inline;
  }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
  #id {
    width: 70px;
    display: inline;
  }
}
@media screen and (min-width: 400px) and (max-width: 600px) {
  #id {
    width: 50px;
    display: inline;
  }
}
@media screen and (min-width: 200px) and (max-width: 400px) {
  #id {
    width: 40px;
    display: inline;
  }
}

body {
  background-color: aliceblue;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: "Noto Kufi Arabic", sans-serif;
}

button {
  cursor: pointer;
}
header {
  width: 100%;
  height: 70px;
  background-color: white;
  box-shadow: 0 0 12px black;
  position: fixed;
  z-index: 1;
}
header button {
  width: 40px;
  padding: 10px;
  margin-top: 10px;
  border: none;
  background: none;
  outline: none;
  font-size: 10px;
  box-shadow: 0 0 8px whitesmok;
  font-family: "Noto Kufi Arabic", sans-serif;
  transition: 1s;
  display: inline-block;
}

header button:hover {
  color: blue;
  box-shadow: 0 0 10px silver;
  border-radius: 8px 8px 8px 8px;
}

header img {
  width: 60px;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}

.imgb {
  width: 100%;
  padding-top: 70px;
  box-shadow: 0 0 10px black;
}

.pho {
  width: 95%;
  padding-top: 10px;
  border-radius: 20px;
}

fieldset {
  border: 5px solid black;
  text-align: center;
  margin: 5px;
  margin-top: 40px;
  

 
}
legend {
  font-size: 25px;
  
}
fieldset h3{
  text-align: right;
  margin: 10px;
  

}
fieldset h2{
  text-align: left;
  padding-left: 25px;

}

fieldset button{
margin: 1px;
padding: 1px;
border-radius: 5px;
  display:inline-block ;

}
.cont {
  padding: 10px;
  font-size: 20px;
}

.more1 {
  background-color: rgb(13, 0, 255);
  font-size: 20px;
  border: 2px solid rgb(13, 0, 255);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 95%;
  height: 70px;
  margin-bottom: 3px;
}

.inl{
display: block;
padding: 0px;

}
.watt {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  border: 2px solid rgb(13, 0, 255);
  color: rgb(13, 0, 255);
  width:95%;
  height: 70px;
 

}
.tle {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  border: 2px solid black;
  color: black;
  width: 95%;
  height: 70px;
}

.face {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  border: 2px solid rgb(13, 0, 255);
  color: rgb(13, 0, 255);
  width: 200px;
  height: 70px;
 
}
.email {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  border: 2px solid rgb(0, 0, 0);
  color: Black;
  width: 95%;
  height: 70px;
 
 
}

.qq {
  width: 100%;
  height: 400px;
  background-color: rgb(0, 0, 0);
  margin-top: 100px;
}

.ul {
  padding: 20px;
  color: white;
  word-spacing: 5px;
}
h6 {
  color: white;
  padding-top: 100p;
}
.ul li a {
  text-decoration: none;
  letter-spacing: 2px;
  color: aliceblue;
}

.imm {
  width: 5%;
  height: 5%;
}
